@font-face {
    font-family: 'aleobold';
    src: url('../fonts/Aleo/aleo-bold/aleo-bold-webfont.eot');
    src: url('../fonts/Aleo/aleo-bold/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aleo/aleo-bold/aleo-bold-webfont.woff2') format('woff2'),
    url('../fonts/Aleo/aleo-bold/aleo-bold-webfont.woff') format('woff'),
    url('../fonts/Aleo/aleo-bold/aleo-bold-webfont.ttf') format('truetype'),
    url('../fonts/Aleo/aleo-bold/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('../fonts/Aleo/aleo-regular/aleo-regular-webfont.eot');
    src: url('../fonts/Aleo/aleo-regular/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aleo/aleo-regular/aleo-regular-webfont.woff2') format('woff2'),
    url('../fonts/Aleo/aleo-regular/aleo-regular-webfont.woff') format('woff'),
    url('../fonts/Aleo/aleo-regular/aleo-regular-webfont.ttf') format('truetype'),
    url('../fonts/Aleo/aleo-regular/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri/Calibri.eot');
    src: url('../fonts/Calibri/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri/Calibri.woff') format('woff'),
    url('../fonts/Calibri/Calibri.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'aleolight';
    src: url('../fonts/Aleo/aleo-light/aleo-light-webfont.eot');
    src: url('../fonts/Aleo/aleo-light/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aleo/aleo-light/aleo-light-webfont.woff2') format('woff2'),
    url('../fonts/Aleo/aleo-light/aleo-light-webfont.woff') format('woff'),
    url('../fonts/Aleo/aleo-light/aleo-light-webfont.ttf') format('truetype'),
    url('../fonts/Aleo/aleo-light/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*@font-face {*/
    /*font-family: 'aleobolditalic';*/
    /*src: url('../fonts/Aleo/aleo-bolditalic/aleo-bolditalic-webfont.eot');*/
    /*src: url('../fonts/Aleo/aleo-bolditalic/aleo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/Aleo/aleo-bolditalic/aleo-bolditalic-webfont.woff2') format('woff2'),*/
    /*url('../fonts/Aleo/aleo-bolditalic/aleo-bolditalic-webfont.woff') format('woff'),*/
    /*url('../fonts/Aleo/aleo-bolditalic/aleo-bolditalic-webfont.ttf') format('truetype'),*/
    /*url('../fonts/Aleo/aleo-bolditalic/aleo-bolditalic-webfont.svg#aleobolditalic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'aleoitalic';*/
    /*src: url('../fonts/Aleo/aleo-italic/aleo-italic-webfont.eot');*/
    /*src: url('../fonts/Aleo/aleo-italic/aleo-italic-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/Aleo/aleo-italic/aleo-italic-webfont.woff2') format('woff2'),*/
    /*url('../fonts/Aleo/aleo-italic/aleo-italic-webfont.woff') format('woff'),*/
    /*url('../fonts/Aleo/aleo-italic/aleo-italic-webfont.ttf') format('truetype'),*/
    /*url('../fonts/Aleo/aleo-italic/aleo-italic-webfont.svg#aleoitalic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'aleolightitalic';*/
    /*src: url('../fonts/Aleo/aleo-lightitalic/aleo-lightitalic-webfont.eot');*/
    /*src: url('../fonts/Aleo/aleo-lightitalic/aleo-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/Aleo/aleo-lightitalic/aleo-lightitalic-webfont.woff2') format('woff2'),*/
    /*url('../fonts/Aleo/aleo-lightitalic/aleo-lightitalic-webfont.woff') format('woff'),*/
    /*url('../fonts/Aleo/aleo-lightitalic/aleo-lightitalic-webfont.ttf') format('truetype'),*/
    /*url('../fonts/Aleo/aleo-lightitalic/aleo-lightitalic-webfont.svg#aleolightitalic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: "MyriadProBold";*/
    /*src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot");*/
    /*src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),*/
    /*url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff") format("woff"),*/
    /*url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: "MyriadProItalic";*/
    /*src: url("../fonts/MyriadPro/MyriadProItalic/MyriadProItalic.eot");*/
    /*src: url("../fonts/MyriadPro/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),*/
    /*url("../fonts/MyriadPro/MyriadProItalic/MyriadProItalic.woff") format("woff"),*/
    /*url("../fonts/MyriadPro/MyriadProItalic/MyriadProItalic.ttf") format("truetype");*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: "MyriadProSemiBold";*/
    /*src: url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot");*/
    /*src: url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),*/
    /*url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),*/
    /*url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: "MyriadProBoldItalic";*/
    /*src: url("../fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.eot");*/
    /*src: url("../fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),*/
    /*url("../fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),*/
    /*url("../fonts/MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: "MyriadProSemiBoldItalic";*/
    /*src: url("../fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");*/
    /*src: url("../fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),*/
    /*url("../fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),*/
    /*url("../fonts/MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/
