@media (max-width: 1200px){
    .wrap{
        width: 900px;
    }
    .section1 {
	padding-top: 106px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 19px;
	overflow: hidden;
    }
    .section1 .leftBox {
        width: 100%;
        float: none;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    .section1 .rightBox {
        position: relative;
        right: 0;
        top: 0;
        width: 579px;
        margin: 0 auto;
        display: block;
        height: 615px;
        background: url(../img/homeImg.png) 0 0 no-repeat;
    }
    .section2 {
	padding-bottom: 310px;
    }
    .section2 .leftBox {
	position: absolute;
	left: 0;
	right: 0;
	top: 477px;
	width: 452px;
	height: 486px;
	background: url(../img/aboutUsImg1.png) 0 0 no-repeat;
	display: block;
	margin-top: 1px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -1px;
	float: right;
    }
    .section2 .rightBox {
        width: 100%;
        float: none;
        text-align: center;
    }
    .section3 .teamBox2,
    .section3 .teamBox4,
    .section3 .teamBox6 {
        float: right;
    }
    .section3 .teamBox2, .section3 .teamBox5 {
        margin: 202px 40px 0;
    }
    .section3 .teamBox1,
    .section3 .teamBox2,
    .section3 .teamBox3,
    .section3 .teamBox4,
    .section3 .teamBox5,
    .section3 .teamBox6 {
        margin: 260px 40px 0;
    }
    .section3 {
        padding-bottom: 176px;
    }
    .testimonialsBox{
        width: 94%;
    }
    .parallax{
        display: none;
    }
    .section6 .rightBox {
        position: absolute;
        right: -150px;
        top: 14px;
        width: 747px;
        height: 473px;
        background: url(../img/footerImg.png) 0 0 no-repeat;
    }
    .section6 {
        overflow: hidden;
    }

    .section1 .twitter{
        display: none;
    }
    /*====================================================================================================================*/
    /*========================================================OurWork=====================================================*/
    /*====================================================================================================================*/
    .ourWorkBottom span {
        width: 440px;
    }
    .ourWorkBox2 .left {
        width: 100%;
        float: none;
    }
    .ourWorkBox2 .right {
        width: 100%;
    }

    .ourWorkBox3 .right {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .ourWorkBox3 .left,
    .ourWorkBox2 .right{
        width: 85%;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .ourWorkBox2 .left,
    .ourWorkBox3 .right{
        min-height: inherit;
        padding: 54px 0 0 0;
    }
    .ourWorkBottom .linkRightWrap span{
        padding: 24px 69px 24px 0;
    }
    .ourWorkBottom span{
        padding: 24px 0 24px 69px;
    }
    .ourWorkBottom .linkLeft:after,
    .ourWorkBottom .linkRight:after {
        top: 24px;
    }
    .insideBottom h2 {
        width: 90%;
    }
    .insideBottom {
        position: relative !important;
        left: 0 !important;
    }
}



@media (max-width: 920px){
    .wrap{
        width: 600px;
    }
    .navBtn{
        display: block;
    }
    .nav{
        display: none;
    }
    .header .logo {
        width: 40%;
    }
    .header .logo img {
        width: 100%;
    }
    .reduce-header .logo{
        margin-top: 9px;
    }
    .header .nav {
        padding: 90px 0 10px;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        float: none;
        background: rgba(163, 175, 176, 0.5);
    }
    .reduce-header .nav{
        padding: 0 0 10px !important;
        top: 60px;
    }
    .header .nav ul li .subMenu {
        position: relative;
    }
    .header .nav ul li .subMenu {
        width: 80px;
    }
    .header .nav ul li .search {
        width: 222px;
    }
    .header .nav ul li .search:hover input {
        padding: 2px 5px 2px 30px;
    }
    .header .scroll-nav{
        width: 600px;
        margin: 0 auto;
    }
    .header .nav ul li {
        margin: 0 0 8px 0;
        position: relative;
        display: block;
    }
    .section2 .leftBox {
        top: 580px;
    }
    .section2 {
        padding-bottom: 380px;
    }
    .section2 .rightBox {
        width: 100%;
        float: none;
        position: relative;
        text-align: center;
    }
    .section3 .teamBox1, .section3 .teamBox2, .section3 .teamBox3, .section3 .teamBox4, .section3 .teamBox5, .section3 .teamBox6 {
        margin: 260px auto 0;
        display: block;
    }
    .section3 .teamBox2, .section3 .teamBox4, .section3 .teamBox6 {
        float: none;
    }
    .section4 .section4LoadMore a {
        margin: 20px 0 20px 0;
    }
    .section5 .bx-wrapper {
        width: 500px;
    }
    .section5 .bx-wrapper table tr td img {
        width: 90%;
        height: auto;
    }
    .section6 {
        padding: 50px 0 50px;
    }
    .section6 .rightBox {
        right: -30px;
    }
    .section6 .rightBox {
        position: relative;
        top: 0;
        height: 500px;
        right: initial;
        left: 0;
        width: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .section6 .leftBox {
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 0;
        width: 100%;
    }
    .section6 .leftBox > h2 {
        margin: 0 0 30px;
    }
    .section6 .leftBox ul li {
        margin-bottom: 15px;
    }
    .footer {
        padding: 15px 0;
    }
    .footer .leftBox {
        float: none;
        text-align: center;
    }
    .footer .rightBox {
        float: none;
        margin-top: 10px;
        text-align: center;
    }
    .section5 .bx-prev, .section5 .bx-next {
        height: 29px;
    }
    .section5 #slider-prev, .section5 #slider-next {
        top: 55%;
    }
    .section6 .leftBox > h2 {
        font-size: 30px;
    }
    .footer .leftBox h2 {
        font-size: 16px;
    }
    .footer .rightBox > a {
        font-size: 11px;
    }

    /*====================================================================================================================*/
    /*========================================================OurWork=====================================================*/
    /*====================================================================================================================*/
    .ourWorkBox1 .left, .ourWorkBox1 .right {
        width: 100%;
    }
    .ourWorkBox1 .right{
        margin-bottom: 20px;
        min-height: 325px;
    }
    .ourWorkBox2 .right .grayBox {
        float: none;
        margin: 0 auto;
    }
    .ourWorkBox2 .right .grayBox:nth-child(2) {
        float: none;
        margin: 40px auto 0;
    }

    .ourWorkBox3 .left .grayBox {
        float: none;
        margin: 0 auto;
    }
    .ourWorkBox3 .left .grayBox:nth-child(2) {
        float: none;
        margin: 40px auto 0;
    }
    .ourWorkBox1 .left .grayBox {
        margin-right: 0;
        float: none;
    }
    .ourWorkBottom span {
        width: 300px;
    }
}



@media (max-width: 620px){
    .wrap{
        width: 300px;
    }
    .header {
        padding: 5px 0;
    }
    .header .logo {
        width: 53%;
        margin: 13px auto 0;
        float: left;
    }
    .header .scroll-nav {
        width: 300px;
    }
    .header .nav ul li a {
        font-size: 11px;
    }
    .reduce-header .nav {
        top: 51px;
    }
    .reduce-header .navBtn {
        margin-top: 8px;
    }
    .header .nav {
        padding: 55px 0 10px;
    }
    .section1 {
	padding-top: 67px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 80px;
    }
    .section1 .leftBox .btn1 {
        margin: 46px 6px 20px;
    }
    .section1 .leftBox h1,
    .section2 .rightBox h2,
    .section6 .leftBox > h2{
        font-size: 28px;
    }
    .section1 .rightBox, .section2 .leftBox {
        right: 0;
        left: 0;
        width: 100%;
        background-size: 100%;
        height: 375px;
    }
    .section2 .leftBox {
        top: 700px;
    }
    .section2 {
        padding-bottom: 200px;
    }
    .section6 .rightBox {
        height: 260px;
    }
    .section2 .rightBox h3 {
        font-size: 17px;
    }
    .section2 .rightBox p {
        font-size: 12px;
    }
    .section3 .teamBox1, .section3 .teamBox2, .section3 .teamBox3, .section3 .teamBox4, .section3 .teamBox5, .section3 .teamBox6 {
        width: 300px;
        margin: 325px auto 0;
    }
    .section6 {
        padding: 50px 0 20px;
    }
    .section6 .leftBox > h2 {
        margin: 0 0 30px;
    }
    .section6 .leftBox ul li {
        margin-bottom: 25px;
    }
    .footer .rightBox > a {
        width: 100%;
        margin: 0 0 10px;
    }
    .section6 .leftBox > h2 {
        font-size: 25px;
    }
    .section6 .leftBox ul li h2 {
        font-size: 14px;
    }
    .section6 .leftBox ul li img {
        width: 25px;
    }
    .header .nav ul li .search input {
        right: 1px;
    }
    .footer .leftBox h2 {
        font-size: 13px;
    }
    .section5 #slider-prev{
        left: -10px;
    }
    /*====================================================================================================================*/
    /*========================================================OurWork=====================================================*/
    /*====================================================================================================================*/
    .ourWorkBottom span {
        font-size: 8px;
        width: 195px;
        padding: 15px 0 15px 69px;
    }
    .ourWorkBottom .linkRightWrap span {
        text-align: right;
        padding: 15px 70px 15px 0;
    }
    .ourWorkBox1 .ourWorkImg img {
        width: 300px;
        margin: 0;
    }
    .ourWorkImg .imgText img,
    .ourWorkBox1 .ourWorkImg .imgText img{
        margin: 0;
        width: 300px;
    }
    .ourWorkSearch input {
        font-size: 16px;
        width: 86%;
    }
    .grayBox {
        width: 100%;
    }
    .ourWorkBottom .linkLeft:after, .ourWorkBottom .linkRight:after {
        content: "";
        position: absolute;
        left: 51px;
        top: 14px;
        width: 13px;
        background: url(../img/ourWorkArr.png) 0 0 no-repeat;
        background-size: 100%;
    }
    .ourWorkBottom .linkRight:after {
        left: initial;
        right: 51px;
        top: 0;
    }
    .ourWorkSearch {
        padding: 10px 0;
    }
    .ourWorkBox3 .right > h2,
    .ourWorkBox2 .left > h2,
    .ourWorkBox1 .right > h2{
        font-size: 25px;
    }
    .ourWorkBox3 .right h3,
    .ourWorkBox2 .left h3,
    .ourWorkBox1 .left h3{
        font-size: 18px;
    }
    .ourWorkBox3 .right p,
    .ourWorkBox2 .left p,
    .ourWorkBox1 .right p{
        font-size: 14px;
    }
    .insideBottom h2 {
        font-size: 12px;
        width: 87%;
    }
    .ourWorkBox1 .ourWorkImg .imgText h2,
    .ourWorkImg .imgText h2{
        left: 29px;
        top: 44px;
        font-size: 30px;
    }
    .ourWorkImg .imgText h3 {
        left: 34px;
        top: 50px;
        font-size: 19px;
    }
    .ourWorkBox2 .left {
        padding: 54px 0 100px 0;
    }
    .section5 .bx-wrapper {
        width: 90%;
    }
    .section5 #slider-prev, .section5 #slider-next {
        top: 60%;
    }
}
