@import "fonts.css"
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700)

$color1: #5b5c5a

*
  margin: 0
  padding: 0
  outline: none
  &:focus,
  &:active
    outline: none

ul
  list-style-type: none

h1, h2, h3, h4, h5
  font-weight: normal


@mixin border-radius($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin background-size($width)
  -o-background-size: $width
  -webkit-background-size: $width
  -khtml-background-size: $width
  -moz-background-size: $width
  background-size: $width

@mixin size($width, $height: $width)
  width: $width
  height: $height

@mixin linx($link, $hover, $active)
  a
    color: $link
    &:hover
      color: $hover
    &:active
      color: $active

@mixin pad($pads)
  padding: $pads

@mixin mar($margs)
  margin: $margs

@mixin prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

html, body
  height: 100%
  min-width: 300px
  font-size: 14px

.wrap
  width: 1175px
  margin: 0 auto
  position: relative

.dibM
  display: inline-block
  vertical-align: middle

.dibT
  display: inline-block
  vertical-align: top

.clear
  clear: both

.bg
  background: -moz-linear-gradient(7deg, rgba(163,175,176,1) 0%, rgba(219,220,220,1) 100%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(163,175,176,1)), color-stop(100%, rgba(219,220,220,1)))
  background: -webkit-linear-gradient(7deg, rgba(163,175,176,1) 0%, rgba(219,220,220,1) 100%)
  background: -o-linear-gradient(7deg, rgba(163,175,176,1) 0%, rgba(219,220,220,1) 100%)
  background: -ms-linear-gradient(7deg, rgba(163,175,176,1) 0%, rgba(219,220,220,1) 100%)
  background: linear-gradient(83deg, rgba(163,175,176,1) 0%, rgba(219,220,220,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3afb0', endColorstr='#dbdcdc',GradientType=1 )


//=========================================================HEADER=======================================================

.header
  position: fixed
  z-index: 100
  width: 100%
  padding: 44px 0 0
  -webkit-transition: all .2s ease-in
  -moz-transition: all .2s ease-in
  -ms-transition: all .2s ease-in
  -o-transition: all .2s ease-in
  transition: all .2s ease-in
  .logo
    float: left
  .nav
    position: relative
    top: -3px
    float: right
    ul
      li
        @extend .dibM
        margin: 0 25px 0 0
        position: relative
        &:last-child
          margin: 0
        &:hover .subMenu
          display: block
        &:hover
          a span
            @include prefix(transform, rotate(135deg))
            top: -1px
        .subMenu
          display: none
          width: 100%
          position: absolute
          margin-bottom: 10px
          li
            display: block
            margin: 2px 0 0
          a
            white-space: nowrap
            padding: 2px 0 0
            display: block
            border-top: 1px solid #600
        a
          font-size: 12px
          color: #600
          text-decoration: none
          font-family: 'Calibri'
          text-transform: uppercase
          span
            position: relative
            top: -3px
            margin-left: 2px
            display: inline-block
            width: 5px
            height: 5px
            border-left: 1px solid #600
            border-bottom: 1px solid #600
            @include prefix(transform, rotate(-45deg))
        .search
          position: relative
          &:hover input
            display: block
          &:hover button
            background: #eaeaea
          input
            display: none
            position: absolute
            right: 0
            border: none
            padding: 2px 30px 2px 5px
            @include prefix(box-sizing, border-box)
            width: 220px
            @include prefix(border-radius, 10px)
          button
            position: relative
            border: none
            background: white
            width: 20px
            height: 20px
            @include prefix(border-radius, 50%)


.reduce-header
  height: auto
  padding: 5px 0
  background: rgba(163, 175, 176, .5)
  .nav
    padding-top: 21px
  .navBtn
    margin-top: 11px

.navBtn
  display: none
  float: right
  position: relative
  z-index: 1
  margin-top: 8px
  i
    position: absolute
    right: 0
    top: 0
    width: 32px
    height: 8px
    background: white
    @include prefix(border-radius, 1px)
    -webkit-transition: all .2s ease-in
    -moz-transition: all .2s ease-in
    -ms-transition: all .2s ease-in
    -o-transition: all .2s ease-in
    transition: all .2s ease-in
    &:nth-child(2)
      top: 11px
    &:nth-child(3)
      top: 22px
.navBtn.active
  i:nth-child(2)
    opacity: 0
  i:nth-child(1)
    top: 10px
    @include prefix(transform, rotate(45deg))
  i:nth-child(3)
    top: 10px
    @include prefix(transform, rotate(-45deg))

//=========================================================section1=====================================================

.section1
  padding: 200px 0 64px
  position: relative
  .leftBox
    width: 46%
    text-align: right
    float: left
    h1
      font-family: 'aleoregular'
      margin: 0 0 41px
      font-size: 40px
      color: white
    p
      font-family: 'Calibri'
      color: white
      line-height: 23px
    .btn1
      margin: 46px 6px
  .twitter
    position: absolute
    z-index: 10
    right: -24px
    top: 459px
    width: 70px
    height: 76px
    background: url(../img/twitter.png) 0 0 no-repeat
    &:after
      content: attr(data-twitter)
      position: absolute
      right: 60px
      top: -12px
      width: 72px
      height: 30px
      background: url(../img/twitterSay.png) 0 0 no-repeat
      text-transform: uppercase
      font-family: 'Calibri'
      font-size: 11px
      padding: 4px 0 0 10px
      letter-spacing: 3px
      @include prefix(box-sizing, border-box)
    &:before
      content: ''
  .stickyBox
    position: fixed
    top: 98px
    right: 20px
  .rightBox
    display: inline-block
    width: 50%
  .parallax
    .l1
      margin: 5px 0 0 75px
    .l2
      position: absolute
      bottom: 186px
      margin-left: 76px
    .l3
      position: absolute
      bottom: 186px
      margin-left: 475px

.btn1
  display: inline-block
  padding: 11px 16px
  letter-spacing: 3px
  border: none
  background: #f24949
  color: white
  font-size: 11px
  font-family: 'Calibri'
  text-decoration: none
  @include prefix(border-radius, 20px)
  &:hover
    background: grey

//=========================================================section2=====================================================

.section2
  position: relative
  .rightBox
    width: 51.3%
    float: right
    h2
      font-family: 'aleoregular'
      margin: 0 0 36px
      font-size: 40px
      color: #020202
    h3
      font-family: 'aleoregular'
      color: white
      margin: 0 0 5px
      font-size: 21px
    p
      font-family: "MyriadProRegular"
      color: #020202
      font-size: 14px
      line-height: 21px
    .btn1
      margin: 60px 0
  .parallax
    .l1
      margin: 22px 0 0 0
    .l2
      margin: -34px 0 0 218px
  .leftBox
    display: inline-block
    width: 48%
//=========================================================section3=====================================================

.section3
  padding-bottom: 76px
  .teamBox1, .teamBox2, .teamBox3, .teamBox4, .teamBox5, .teamBox6
    width: 320px
    margin: 150px 0 80px
    background: white
    position: relative
    @extend .dibT
    @include prefix(box-sizing, border-box)
    h2
      font-family: 'aleoregular'
      font-size: 26px
      color: black
      text-align: center
      padding: 17px 0 11px
    p
      font-family: "MyriadProRegular"
      font-size: 12px
      line-height: 14px
      color: #020202
      padding: 0 23px 17px
    .hands
      display: none
      position: absolute
      width: 100%
      height: 100%
      &:before,
      &:after
        content: ''
        position: absolute
        top: 50px
        left: -7px
        width: 14px
        height: 25px
        background: url(../img/teamHand.png) 0 0 no-repeat
      &:after
        left: inherit
        right: -7px
        @include prefix(transform, rotate(188deg))
    .foots
      display: none
      position: absolute
      left: 50%
    .head
      position: absolute
      left: 50%
    &:hover .foots,
    &:hover .hands
      display: block
  .teamBox1, .teamBox4
    margin: 150px 100px 80px

  .teamBox1
    .head
      top: -171px
      margin: 0 0 0 -70px
      width: 139px
      height: 171px
      background: url(../img/team1.png) 0 0 no-repeat
    &:hover .head
      top: -157px
      margin: 0 0 0 -103px
      width: 206px
      height: 157px
      background: url(../img/team1_active.png) 0 0 no-repeat

  .teamBox2
    .head
      top: -158px
      margin: 0 0 0 -72px
      width: 145px
      height: 158px
      background: url(../img/team2.png) 0 0 no-repeat
    &:hover .head
      top: -131px
      margin: 0 0 0 -88px
      width: 176px
      height: 131px
      background: url(../img/team2_active.png) 0 0 no-repeat

  .teamBox3
    .head
      top: -167px
      margin: 0 0 0 -67px
      width: 134px
      height: 167px
      background: url(../img/team3.png) 0 0 no-repeat
    &:hover .head
      top: -157px
      margin: 0 0 0 -103px
      width: 206px
      height: 157px
      background: url(../img/team3_active.png) 0 0 no-repeat

  .teamBox4
    .head
      top: -155px
      margin: 0 0 0 -62px
      width: 123px
      height: 155px
      background: url(../img/team4.png) 0 0 no-repeat
    &:hover .head
      top: -131px
      margin: 0 0 0 -88px
      width: 176px
      height: 131px
      background: url(../img/team4_active.png) 0 0 no-repeat

  .teamBox5
    .head
      top: -168px
      margin: 0 0 0 -67px
      width: 135px
      height: 168px
      background: url(../img/team5.png) 0 0 no-repeat
    &:hover .head
      top: -157px
      margin: 0 0 0 -104px
      width: 207px
      height: 157px
      background: url(../img/team5_active.png) 0 0 no-repeat

  .teamBox6
    .head
      top: -96px
      margin: 0 0 0 -50px
      width: 100px
      height: 96px
      background: url(../img/team6.png) 0 0 no-repeat
    &:hover .head
      top: -91px
      margin: 0 0 0 -54px
      width: 107px
      height: 100px
      background: url(../img/team6_active.png) 0 0 no-repeat



  .teamBox2 .foots
    bottom: -39px
    margin: 0 0 0 -56px
    width: 112px
    height: 39px
    background: url(../img/team2Foot_active.png) 0 0 no-repeat

  .teamBox3 .foots
    bottom: -91px
    margin: 0 0 0 -56px
    width: 112px
    height: 91px
    background: url(../img/team3Foot_active.png) 0 0 no-repeat

  .teamBox4 .foots
    bottom: -148px
    margin: 0 0 0 -57px
    width: 114px
    height: 148px
    background: url(../img/team4Foot_active.png) 0 0 no-repeat

  .teamBox5 .foots
    bottom: -148px
    margin: 0 0 0 -57px
    width: 114px
    height: 148px
    background: url(../img/team4Foot_active.png) 0 0 no-repeat

  .teamBox6 .foots
    bottom: -76px
    margin: 0 0 0 -87px
    width: 131px
    height: 76px
    background: url(../img/team6Foot_active.png) 0 0 no-repeat

//=========================================================section4=====================================================

.section4
  background: #E4E8E9
  .testimonialsTitle
    text-align: center
    font-size: 40px
    font-family: 'aleoregular'
    color: #020202
    padding-top: 44px

.testimonialsBox
  width: 970px
  text-align: center
  margin: 0 auto
  p
    font-family: 'Calibri'
    font-size: 16px
    border-bottom: 1px solid white
    color: black
    padding: 44px 0 12px
    margin-bottom: 15px
  h2
    font-family: 'Calibri'
    font-size: 21px
    color: black
    margin: 5px 0 30px
    line-height: 27px

.loadMoreWrap
  background: white

.section4LoadMore
  text-align: center
  a
    position: relative
    font-size: 14px
    color: #2ea8f1
    font-family: 'Calibri'
    text-decoration: none
    margin: 31px 0 24px 0
    display: inline-block
    padding: 10px 0 8px 28px
    span
      position: absolute
      width: 10px
      height: 10px
      @include prefix(border-radius, 50%)
      background: #2ea8f1
      display: block
      -webkit-transition: all .2s ease-in
      -moz-transition: all .2s ease-in
      -ms-transition: all .2s ease-in
      -o-transition: all .2s ease-in
      transition: all .2s ease-in
    span:nth-child(1)
      left: -12px
      top: 8px
    span:nth-child(2)
      left: 0
      top: 8px
    span:nth-child(3)
      left: -12px
      top: 20px
    span:nth-child(4)
      left: 0
      top: 20px
  a:hover
    span
      -webkit-transition: all .2s ease-in
      -moz-transition: all .2s ease-in
      -ms-transition: all .2s ease-in
      -o-transition: all .2s ease-in
      transition: all .2s ease-in
      &:nth-child(1)
        left: 0
        top: 20px
      &:nth-child(2)
        left: -12px
        top: 20px
      &:nth-child(3)
        left: 0
        top: 8px
      &:nth-child(4)
        left: -12px
        top: 8px




.hiddenTestimonials
  display: none

//=========================================================section5=====================================================

.section5
  background: #b3bfc0
  padding: 42px 0 42px
  .bx-wrapper
    width: 800px
    table
      tr:first-child
        border-bottom: 1px solid white
      tr td:not(:first-child)
        border-left: 1px solid white
      tr td img
        margin: 0 auto
        width: 100%
  #slider-prev,
  #slider-next
    position: absolute
    left: 0
    top: 50%
    margin: -22px 0 0
  #slider-next
    left: inherit
    right: 0
  .bx-prev, .bx-next
    width: 20px
    height: 43px
    background: url(../img/sliderBtn.png) 0 0 no-repeat
    display: block
    background-size: 100%
  .bx-next
    @include prefix(transform, rotate(180deg))

//=========================================================section6=====================================================

.section6
  position: relative
  padding: 50px 0 144px
  .leftBox
    display: inline-block
    width: 40%
    >h2
      font-family: 'aleoregular'
      margin: 0 0 78px
      font-size: 40px
      color: white
    ul
      li
        margin-bottom: 55px
        img
          @extend .dibM
          margin-right: 17px
        h2
          @extend .dibM
          font-family: 'Calibri'
          font-size: 16px
          color: white
  .rightBox
    vertical-align: top
    display: inline-block
    width: 49%
    .parallax
      position: absolute
      .l1
        margin: 13px 0 0 52px
      .l2
        margin: 640px 0 0px -100px
      .l3
        margin: 300px 0 0 470px

//=========================================================section6=====================================================

.footer
  overflow: hidden
  padding: 35px 0
  .leftBox
    float: left
    h2
      font-family: 'Open Sans', sans-serif
      color: #6d6d6d
      font-size: 12px
      margin-top: 6px
      font-weight: 400
  .rightBox
    float: right
    margin-top: 5px
    >a
      @extend .dibM
      margin-right: 30px
      font-family: 'Open Sans', sans-serif
      font-size: 12px
      color: #bdacac
      font-weight: 700
      text-decoration: none
      text-transform: uppercase
      &:hover
        text-decoration: underline
    ul
      @extend .dibM
      li
        @extend .dibM
        margin: 0 9px 0 15px

//======================================================================================================================
//=========================================================OurWORK======================================================
//======================================================================================================================

.ourWorkBox1
  .ourWorkImg
    padding: 133px 0 8px
    text-align: center
    .imgText
      position: relative
      display: inline-block
      img
        display: inline-block
        margin: 0 53px 0 0
      h2
        font-family: 'aleoregular'
        position: absolute
        left: 0
        right: 0
        top: 61px
        color: #fff
        font-size: 46px
      h3
        font-family: 'aleoregular'
        position: absolute
        left: 0
        right: 0
        color: #fff
        top: 75px
        font-size: 29px
  .left, .right
    width: 50%
    float: left
    overflow: hidden
    @include prefix(box-sizing, border-box)
  .left
    padding: 60px 0 40px
    .grayBox
      margin-right: 117px
      float: right
  .right
    padding: 54px 0 90px 13px
    min-height: 495px
    position: relative
    >h2
      font-family: 'aleoregular'
      font-size: 32px
      color: #000007
      margin-bottom: 6px
    h3
      font-family: "MyriadProRegular"
      font-size: 21px
      color: #000007
      margin-bottom: 17px
    p
      font-family: 'aleoregular'
      font-size: 24px
      color: #5b5b5b
  .insideBottom
    left: 12px


.ourWorkImg
  text-align: center
  padding: 64px 0 8px
  .imgText
    position: relative
    display: inline-block
    img
      display: inline-block
      margin: 0 53px 0 0
    h2
      font-family: 'aleoregular'
      position: absolute
      left: 0
      right: 0
      top: 61px
      color: #fff
      font-size: 46px
    h3
      font-family: 'aleoregular'
      position: absolute
      left: 0
      right: 0
      color: #fff
      top: 75px
      font-size: 29px


.grayBox
  width: 370px
  height: 435px
  img
    width: 100%

.ourWorkSearch
  padding: 28px 0 33px
  background: #eaeaea
  button, input
    @extend .dibM
    border: none
    background: none
  input
    font-size: 42px
    color: #bbbbbb
    font-family: 'aleolight'
    padding: 0 15px
    @include prefix(box-sizing, border-box)
    width: 50%

.insideBottom
  position: absolute
  left: 0
  bottom: 0
  margin-bottom: 10px
  h2, img
    @extend .dibM
  h2
    font-family: "MyriadProRegular"
    font-size: 16px
    color: #000007
    width: 93%
    margin: 12px 0 0 6px
  ul
    margin: 13px 0 0 5px
    overflow: hidden
    li
      float: left
      margin-right: 14px

.ourWorkBottom
  border-top: 2px solid #f5f5f5
  border-bottom: 2px solid #f5f5f5
  overflow: hidden
  .linkLeftWrap
    background: #fff
    width: 50%
    float: left
    border-right: 2px solid #f5f5f5
    margin-left: -2px
    span
      float: right
  .linkRightWrap
    background: #f24949
    width: 50%
    float: left
    span
      text-align: right
      padding: 44px 69px 44px 0
  span
    cursor: pointer
    display: block
    width: 575px
    padding: 44px 0 44px 69px
    position: relative
    letter-spacing: 2px
    font-family: "MyriadProRegular"
    font-size: 18px
    color: #4e4440
    text-decoration: none
    text-transform: uppercase
    @include prefix(box-sizing, border-box)
  .linkLeft:after,
  .linkRight:after
    content: ''
    position: absolute
    left: 0
    top: 44px
    width: 29px
    height: 24px
    background: url(../img/ourWorkArr.png) 0 0 no-repeat
  .linkRight:after
    left: inherit
    right: 0
    top: 44px
    @include prefix(transform, rotate(180deg))


//=========================================================ourWorkBox2==================================================

.ourWorkBox2
  .left, .right
    width: 34%
    float: left
    overflow: hidden
    @include prefix(box-sizing, border-box)
  .right
    width: 66%
    padding: 60px 0 40px
    .grayBox
      float: left
    .grayBox:nth-child(2)
      float: right
  .left
    padding: 54px 0 90px 0
    min-height: 495px
    position: relative
    >h2
      font-family: 'aleoregular'
      font-size: 32px
      color: #000007
      margin-bottom: 6px
    h3
      font-family: "MyriadProRegular"
      font-size: 21px
      color: #000007
      margin-bottom: 12px
    p
      font-family: 'aleoregular'
      font-size: 24px
      color: #5b5b5b

//=========================================================ourWorkBox2==================================================

.ourWorkBox3
  .left, .right
    width: 34%
    float: left
    overflow: hidden
    @include prefix(box-sizing, border-box)
  .left
    width: 66%
    padding: 60px 0 40px
    .grayBox
      float: left
    .grayBox:nth-child(2)
      float: right
  .right
    padding: 54px 0 90px 25px
    min-height: 495px
    position: relative
    >h2
      font-family: 'aleoregular'
      font-size: 32px
      color: #000007
      margin-bottom: 6px
    h3
      font-family: "MyriadProRegular"
      font-size: 21px
      color: #000007
      margin-bottom: 12px
    p
      font-family: 'aleoregular'
      font-size: 24px
      color: #5b5b5b
  .insideBottom
    position: absolute
    left: 26px





























