@import url(fonts.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  margin: 0;
  padding: 0;
  outline: none; }
  *:focus, *:active {
    outline: none; }

ul {
  list-style-type: none; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

html, body {
  height: 100%;
  min-width: 300px;
  font-size: 14px; }

.wrap {
  width: 1175px;
  margin: 0 auto;
  position: relative; }

.dibM, .header .nav ul li, .section6 .leftBox ul li img, .section6 .leftBox ul li h2, .footer .rightBox > a, .footer .rightBox ul, .footer .rightBox ul li, .ourWorkSearch button, .ourWorkSearch input, .insideBottom h2, .insideBottom img {
  display: inline-block;
  vertical-align: middle; }

.dibT, .section3 .teamBox1, .section3 .teamBox2, .section3 .teamBox3, .section3 .teamBox4, .section3 .teamBox5, .section3 .teamBox6 {
  display: inline-block;
  vertical-align: top; }

.clear {
  clear: both; }

.bg {
  background: -moz-linear-gradient(7deg, #a3afb0 0%, #dbdcdc 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a3afb0), color-stop(100%, #dbdcdc));
  background: -webkit-linear-gradient(7deg, #a3afb0 0%, #dbdcdc 100%);
  background: -o-linear-gradient(7deg, #a3afb0 0%, #dbdcdc 100%);
  background: -ms-linear-gradient(7deg, #a3afb0 0%, #dbdcdc 100%);
  background: linear-gradient(83deg, #a3afb0 0%, #dbdcdc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3afb0', endColorstr='#dbdcdc',GradientType=1 ); }

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 44px 0 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .header .logo {
    float: left; }
  .header .nav {
    position: relative;
    top: -3px;
    float: right; }
    .header .nav ul li {
      margin: 0 25px 0 0;
      position: relative; }
      .header .nav ul li:last-child {
        margin: 0; }
      .header .nav ul li:hover .subMenu {
        display: block; }
      .header .nav ul li:hover a span {
        -webkit-transform: rotate(135deg);
        -khtml-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        top: -1px; }
      .header .nav ul li .subMenu {
        display: none;
        width: 100%;
        position: absolute;
        margin-bottom: 10px; }
        .header .nav ul li .subMenu li {
          display: block;
          margin: 2px 0 0; }
        .header .nav ul li .subMenu a {
          white-space: nowrap;
          padding: 2px 0 0;
          display: block;
          border-top: 1px solid #600; }
      .header .nav ul li a {
        font-size: 12px;
        color: #600;
        text-decoration: none;
        font-family: "Calibri";
        text-transform: uppercase; }
        .header .nav ul li a span {
          position: relative;
          top: -3px;
          margin-left: 2px;
          display: inline-block;
          width: 5px;
          height: 5px;
          border-left: 1px solid #600;
          border-bottom: 1px solid #600;
          -webkit-transform: rotate(-45deg);
          -khtml-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
      .header .nav ul li .search {
        position: relative; }
        .header .nav ul li .search:hover input {
          display: block; }
        .header .nav ul li .search:hover button {
          background: #eaeaea; }
        .header .nav ul li .search input {
          display: none;
          position: absolute;
          right: 0;
          border: none;
          padding: 2px 30px 2px 5px;
          -webkit-box-sizing: border-box;
          -khtml-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box;
          width: 220px;
          -webkit-border-radius: 10px;
          -khtml-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          border-radius: 10px; }
        .header .nav ul li .search button {
          position: relative;
          border: none;
          background: white;
          width: 20px;
          height: 20px;
          -webkit-border-radius: 50%;
          -khtml-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%; }

.reduce-header {
  height: auto;
  padding: 5px 0;
  background: rgba(163, 175, 176, 0.5); }
  .reduce-header .nav {
    padding-top: 21px; }
  .reduce-header .navBtn {
    margin-top: 11px; }

.navBtn {
  display: none;
  float: right;
  position: relative;
  z-index: 1;
  margin-top: 8px; }
  .navBtn i {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 8px;
    background: white;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .navBtn i:nth-child(2) {
      top: 11px; }
    .navBtn i:nth-child(3) {
      top: 22px; }

.navBtn.active i:nth-child(2) {
  opacity: 0; }
.navBtn.active i:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.navBtn.active i:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.section1 {
  padding: 200px 0 64px;
  position: relative; }
  .section1 .leftBox {
    width: 46%;
    text-align: right;
    float: left; }
    .section1 .leftBox h1 {
      font-family: "aleoregular";
      margin: 0 0 41px;
      font-size: 40px;
      color: white; }
    .section1 .leftBox p {
      font-family: "Calibri";
      color: white;
      line-height: 23px; }
    .section1 .leftBox .btn1 {
      margin: 46px 6px; }
  .section1 .twitter {
    position: absolute;
    z-index: 10;
    right: -24px;
    top: 459px;
    width: 70px;
    height: 76px;
    background: url(../img/twitter.png) 0 0 no-repeat; }
    .section1 .twitter:after {
      content: attr(data-twitter);
      position: absolute;
      right: 60px;
      top: -12px;
      width: 72px;
      height: 30px;
      background: url(../img/twitterSay.png) 0 0 no-repeat;
      text-transform: uppercase;
      font-family: "Calibri";
      font-size: 11px;
      padding: 4px 0 0 10px;
      letter-spacing: 3px;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
    .section1 .twitter:before {
      content: ""; }
  .section1 .stickyBox {
    position: fixed;
    top: 98px;
    right: 20px; }
  .section1 .rightBox {
    display: inline-block;
    width: 50%; }
  .section1 .parallax .l1 {
    margin: 5px 0 0 75px; }
  .section1 .parallax .l2 {
    position: absolute;
    bottom: 186px;
    margin-left: 76px; }
  .section1 .parallax .l3 {
    position: absolute;
    bottom: 186px;
    margin-left: 475px; }

.btn1 {
  display: inline-block;
  padding: 11px 16px;
  letter-spacing: 3px;
  border: none;
  background: #f24949;
  color: white;
  font-size: 11px;
  font-family: "Calibri";
  text-decoration: none;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }
  .btn1:hover {
    background: grey; }

.section2 {
  position: relative; }
  .section2 .rightBox {
    width: 51.3%;
    float: right; }
    .section2 .rightBox h2 {
      font-family: "aleoregular";
      margin: 0 0 36px;
      font-size: 40px;
      color: #020202; }
    .section2 .rightBox h3 {
      font-family: "aleoregular";
      color: white;
      margin: 0 0 5px;
      font-size: 21px; }
    .section2 .rightBox p {
      font-family: "MyriadProRegular";
      color: #020202;
      font-size: 14px;
      line-height: 21px; }
    .section2 .rightBox .btn1 {
      margin: 60px 0; }
  .section2 .parallax .l1 {
    margin: 22px 0 0 0; }
  .section2 .parallax .l2 {
    margin: -34px 0 0 218px; }
  .section2 .leftBox {
    display: inline-block;
    width: 48%; }

.section3 {
  padding-bottom: 76px; }
  .section3 .teamBox1, .section3 .teamBox2, .section3 .teamBox3, .section3 .teamBox4, .section3 .teamBox5, .section3 .teamBox6 {
    width: 320px;
    margin: 150px 0 80px;
    background: white;
    position: relative;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .section3 .teamBox1 h2, .section3 .teamBox2 h2, .section3 .teamBox3 h2, .section3 .teamBox4 h2, .section3 .teamBox5 h2, .section3 .teamBox6 h2 {
      font-family: "aleoregular";
      font-size: 26px;
      color: black;
      text-align: center;
      padding: 17px 0 11px; }
    .section3 .teamBox1 p, .section3 .teamBox2 p, .section3 .teamBox3 p, .section3 .teamBox4 p, .section3 .teamBox5 p, .section3 .teamBox6 p {
      font-family: "MyriadProRegular";
      font-size: 12px;
      line-height: 14px;
      color: #020202;
      padding: 0 23px 17px; }
    .section3 .teamBox1 .hands, .section3 .teamBox2 .hands, .section3 .teamBox3 .hands, .section3 .teamBox4 .hands, .section3 .teamBox5 .hands, .section3 .teamBox6 .hands {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%; }
      .section3 .teamBox1 .hands:before, .section3 .teamBox1 .hands:after, .section3 .teamBox2 .hands:before, .section3 .teamBox2 .hands:after, .section3 .teamBox3 .hands:before, .section3 .teamBox3 .hands:after, .section3 .teamBox4 .hands:before, .section3 .teamBox4 .hands:after, .section3 .teamBox5 .hands:before, .section3 .teamBox5 .hands:after, .section3 .teamBox6 .hands:before, .section3 .teamBox6 .hands:after {
        content: "";
        position: absolute;
        top: 50px;
        left: -7px;
        width: 14px;
        height: 25px;
        background: url(../img/teamHand.png) 0 0 no-repeat; }
      .section3 .teamBox1 .hands:after, .section3 .teamBox2 .hands:after, .section3 .teamBox3 .hands:after, .section3 .teamBox4 .hands:after, .section3 .teamBox5 .hands:after, .section3 .teamBox6 .hands:after {
        left: inherit;
        right: -7px;
        -webkit-transform: rotate(188deg);
        -khtml-transform: rotate(188deg);
        -moz-transform: rotate(188deg);
        -ms-transform: rotate(188deg);
        -o-transform: rotate(188deg);
        transform: rotate(188deg); }
    .section3 .teamBox1 .foots, .section3 .teamBox2 .foots, .section3 .teamBox3 .foots, .section3 .teamBox4 .foots, .section3 .teamBox5 .foots, .section3 .teamBox6 .foots {
      display: none;
      position: absolute;
      left: 50%; }
    .section3 .teamBox1 .head, .section3 .teamBox2 .head, .section3 .teamBox3 .head, .section3 .teamBox4 .head, .section3 .teamBox5 .head, .section3 .teamBox6 .head {
      position: absolute;
      left: 50%; }
    .section3 .teamBox1:hover .foots, .section3 .teamBox1:hover .hands, .section3 .teamBox2:hover .foots, .section3 .teamBox2:hover .hands, .section3 .teamBox3:hover .foots, .section3 .teamBox3:hover .hands, .section3 .teamBox4:hover .foots, .section3 .teamBox4:hover .hands, .section3 .teamBox5:hover .foots, .section3 .teamBox5:hover .hands, .section3 .teamBox6:hover .foots, .section3 .teamBox6:hover .hands {
      display: block; }
  .section3 .teamBox1, .section3 .teamBox4 {
    margin: 150px 100px 80px; }
  .section3 .teamBox1 .head {
    top: -171px;
    margin: 0 0 0 -70px;
    width: 139px;
    height: 171px;
    background: url(../img/team1.png) 0 0 no-repeat; }
  .section3 .teamBox1:hover .head {
    top: -157px;
    margin: 0 0 0 -103px;
    width: 206px;
    height: 157px;
    background: url(../img/team1_active.png) 0 0 no-repeat; }
  .section3 .teamBox2 .head {
    top: -158px;
    margin: 0 0 0 -72px;
    width: 145px;
    height: 158px;
    background: url(../img/team2.png) 0 0 no-repeat; }
  .section3 .teamBox2:hover .head {
    top: -131px;
    margin: 0 0 0 -88px;
    width: 176px;
    height: 131px;
    background: url(../img/team2_active.png) 0 0 no-repeat; }
  .section3 .teamBox3 .head {
    top: -167px;
    margin: 0 0 0 -67px;
    width: 134px;
    height: 167px;
    background: url(../img/team3.png) 0 0 no-repeat; }
  .section3 .teamBox3:hover .head {
    top: -157px;
    margin: 0 0 0 -103px;
    width: 206px;
    height: 157px;
    background: url(../img/team3_active.png) 0 0 no-repeat; }
  .section3 .teamBox4 .head {
    top: -155px;
    margin: 0 0 0 -62px;
    width: 123px;
    height: 155px;
    background: url(../img/team4.png) 0 0 no-repeat; }
  .section3 .teamBox4:hover .head {
    top: -131px;
    margin: 0 0 0 -88px;
    width: 176px;
    height: 131px;
    background: url(../img/team4_active.png) 0 0 no-repeat; }
  .section3 .teamBox5 .head {
    top: -168px;
    margin: 0 0 0 -67px;
    width: 135px;
    height: 168px;
    background: url(../img/team5.png) 0 0 no-repeat; }
  .section3 .teamBox5:hover .head {
    top: -157px;
    margin: 0 0 0 -104px;
    width: 207px;
    height: 157px;
    background: url(../img/team5_active.png) 0 0 no-repeat; }
  .section3 .teamBox6 .head {
    top: -96px;
    margin: 0 0 0 -50px;
    width: 100px;
    height: 96px;
    background: url(../img/team6.png) 0 0 no-repeat; }
  .section3 .teamBox6:hover .head {
    top: -91px;
    margin: 0 0 0 -54px;
    width: 107px;
    height: 100px;
    background: url(../img/team6_active.png) 0 0 no-repeat; }
  .section3 .teamBox2 .foots {
    bottom: -39px;
    margin: 0 0 0 -56px;
    width: 112px;
    height: 39px;
    background: url(../img/team2Foot_active.png) 0 0 no-repeat; }
  .section3 .teamBox3 .foots {
    bottom: -91px;
    margin: 0 0 0 -56px;
    width: 112px;
    height: 91px;
    background: url(../img/team3Foot_active.png) 0 0 no-repeat; }
  .section3 .teamBox4 .foots {
    bottom: -148px;
    margin: 0 0 0 -57px;
    width: 114px;
    height: 148px;
    background: url(../img/team4Foot_active.png) 0 0 no-repeat; }
  .section3 .teamBox5 .foots {
    bottom: -148px;
    margin: 0 0 0 -57px;
    width: 114px;
    height: 148px;
    background: url(../img/team4Foot_active.png) 0 0 no-repeat; }
  .section3 .teamBox6 .foots {
    bottom: -76px;
    margin: 0 0 0 -87px;
    width: 131px;
    height: 76px;
    background: url(../img/team6Foot_active.png) 0 0 no-repeat; }

.section4 {
  background: #E4E8E9; }
  .section4 .testimonialsTitle {
    text-align: center;
    font-size: 40px;
    font-family: "aleoregular";
    color: #020202;
    padding-top: 44px; }

.testimonialsBox {
  width: 970px;
  text-align: center;
  margin: 0 auto; }
  .testimonialsBox p {
    font-family: "Calibri";
    font-size: 16px;
    border-bottom: 1px solid white;
    color: black;
    padding: 44px 0 12px;
    margin-bottom: 15px; }
  .testimonialsBox h2 {
    font-family: "Calibri";
    font-size: 21px;
    color: black;
    margin: 5px 0 30px;
    line-height: 27px; }

.loadMoreWrap {
  background: white; }

.section4LoadMore {
  text-align: center; }
  .section4LoadMore a {
    position: relative;
    font-size: 14px;
    color: #2ea8f1;
    font-family: "Calibri";
    text-decoration: none;
    margin: 31px 0 24px 0;
    display: inline-block;
    padding: 10px 0 8px 28px; }
    .section4LoadMore a span {
      position: absolute;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      background: #2ea8f1;
      display: block;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    .section4LoadMore a span:nth-child(1) {
      left: -12px;
      top: 8px; }
    .section4LoadMore a span:nth-child(2) {
      left: 0;
      top: 8px; }
    .section4LoadMore a span:nth-child(3) {
      left: -12px;
      top: 20px; }
    .section4LoadMore a span:nth-child(4) {
      left: 0;
      top: 20px; }
  .section4LoadMore a:hover span {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .section4LoadMore a:hover span:nth-child(1) {
      left: 0;
      top: 20px; }
    .section4LoadMore a:hover span:nth-child(2) {
      left: -12px;
      top: 20px; }
    .section4LoadMore a:hover span:nth-child(3) {
      left: 0;
      top: 8px; }
    .section4LoadMore a:hover span:nth-child(4) {
      left: -12px;
      top: 8px; }

.hiddenTestimonials {
  display: none; }

.section5 {
  background: #b3bfc0;
  padding: 42px 0 42px; }
  .section5 .bx-wrapper {
    width: 800px; }
    .section5 .bx-wrapper table tr:first-child {
      border-bottom: 1px solid white; }
    .section5 .bx-wrapper table tr td:not(:first-child) {
      border-left: 1px solid white; }
    .section5 .bx-wrapper table tr td img {
      margin: 0 auto;
      width: 100%; }
  .section5 #slider-prev,
  .section5 #slider-next {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -22px 0 0; }
  .section5 #slider-next {
    left: inherit;
    right: 0; }
  .section5 .bx-prev, .section5 .bx-next {
    width: 20px;
    height: 43px;
    background: url(../img/sliderBtn.png) 0 0 no-repeat;
    display: block;
    background-size: 100%; }
  .section5 .bx-next {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

.section6 {
  position: relative;
  padding: 50px 0 144px; }
  .section6 .leftBox {
    display: inline-block;
    width: 40%; }
    .section6 .leftBox > h2 {
      font-family: "aleoregular";
      margin: 0 0 78px;
      font-size: 40px;
      color: white; }
    .section6 .leftBox ul li {
      margin-bottom: 55px; }
      .section6 .leftBox ul li img {
        margin-right: 17px; }
      .section6 .leftBox ul li h2 {
        font-family: "Calibri";
        font-size: 16px;
        color: white; }
  .section6 .rightBox {
    vertical-align: top;
    display: inline-block;
    width: 49%; }
    .section6 .rightBox .parallax {
      position: absolute; }
      .section6 .rightBox .parallax .l1 {
        margin: 13px 0 0 52px; }
      .section6 .rightBox .parallax .l2 {
        margin: 640px 0 0px -100px; }
      .section6 .rightBox .parallax .l3 {
        margin: 300px 0 0 470px; }

.footer {
  overflow: hidden;
  padding: 35px 0; }
  .footer .leftBox {
    float: left; }
    .footer .leftBox h2 {
      font-family: "Open Sans", sans-serif;
      color: #6d6d6d;
      font-size: 12px;
      margin-top: 6px;
      font-weight: 400; }
  .footer .rightBox {
    float: right;
    margin-top: 5px; }
    .footer .rightBox > a {
      margin-right: 30px;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      color: #bdacac;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase; }
      .footer .rightBox > a:hover {
        text-decoration: underline; }
    .footer .rightBox ul li {
      margin: 0 9px 0 15px; }

.ourWorkBox1 .ourWorkImg {
  padding: 133px 0 8px;
  text-align: center; }
  .ourWorkBox1 .ourWorkImg .imgText {
    position: relative;
    display: inline-block; }
    .ourWorkBox1 .ourWorkImg .imgText img {
      display: inline-block;
      margin: 0 53px 0 0; }
    .ourWorkBox1 .ourWorkImg .imgText h2 {
      font-family: "aleoregular";
      position: absolute;
      left: 0;
      right: 0;
      top: 61px;
      color: #fff;
      font-size: 46px; }
    .ourWorkBox1 .ourWorkImg .imgText h3 {
      font-family: "aleoregular";
      position: absolute;
      left: 0;
      right: 0;
      color: #fff;
      top: 75px;
      font-size: 29px; }
.ourWorkBox1 .left, .ourWorkBox1 .right {
  width: 50%;
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
.ourWorkBox1 .left {
  padding: 60px 0 40px; }
  .ourWorkBox1 .left .grayBox {
    margin-right: 117px;
    float: right; }
.ourWorkBox1 .right {
  padding: 54px 0 90px 13px;
  min-height: 495px;
  position: relative; }
  .ourWorkBox1 .right > h2 {
    font-family: "aleoregular";
    font-size: 32px;
    color: #000007;
    margin-bottom: 6px; }
  .ourWorkBox1 .right h3 {
    font-family: "MyriadProRegular";
    font-size: 21px;
    color: #000007;
    margin-bottom: 17px; }
  .ourWorkBox1 .right p {
    font-family: "aleoregular";
    font-size: 24px;
    color: #5b5b5b; }
.ourWorkBox1 .insideBottom {
  left: 12px; }

.ourWorkImg {
  text-align: center;
  padding: 64px 0 8px; }
  .ourWorkImg .imgText {
    position: relative;
    display: inline-block; }
    .ourWorkImg .imgText img {
      display: inline-block;
      margin: 0 53px 0 0; }
    .ourWorkImg .imgText h2 {
      font-family: "aleoregular";
      position: absolute;
      left: 0;
      right: 0;
      top: 61px;
      color: #fff;
      font-size: 46px; }
    .ourWorkImg .imgText h3 {
      font-family: "aleoregular";
      position: absolute;
      left: 0;
      right: 0;
      color: #fff;
      top: 75px;
      font-size: 29px; }

.grayBox {
  width: 370px;
  height: 435px; }
  .grayBox img {
    width: 100%; }

.ourWorkSearch {
  padding: 28px 0 33px;
  background: #eaeaea; }
  .ourWorkSearch button, .ourWorkSearch input {
    border: none;
    background: none; }
  .ourWorkSearch input {
    font-size: 42px;
    color: #bbbbbb;
    font-family: "aleolight";
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%; }

.insideBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 10px; }
  .insideBottom h2 {
    font-family: "MyriadProRegular";
    font-size: 16px;
    color: #000007;
    width: 93%;
    margin: 12px 0 0 6px; }
  .insideBottom ul {
    margin: 13px 0 0 5px;
    overflow: hidden; }
    .insideBottom ul li {
      float: left;
      margin-right: 14px; }

.ourWorkBottom {
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  overflow: hidden; }
  .ourWorkBottom .linkLeftWrap {
    background: #fff;
    width: 50%;
    float: left;
    border-right: 2px solid #f5f5f5;
    margin-left: -2px; }
    .ourWorkBottom .linkLeftWrap span {
      float: right; }
  .ourWorkBottom .linkRightWrap {
    background: #f24949;
    width: 50%;
    float: left; }
    .ourWorkBottom .linkRightWrap span {
      text-align: right;
      padding: 44px 69px 44px 0; }
  .ourWorkBottom span {
    cursor: pointer;
    display: block;
    width: 575px;
    padding: 44px 0 44px 69px;
    position: relative;
    letter-spacing: 2px;
    font-family: "MyriadProRegular";
    font-size: 18px;
    color: #4e4440;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  .ourWorkBottom .linkLeft:after,
  .ourWorkBottom .linkRight:after {
    content: "";
    position: absolute;
    left: 0;
    top: 44px;
    width: 29px;
    height: 24px;
    background: url(../img/ourWorkArr.png) 0 0 no-repeat; }
  .ourWorkBottom .linkRight:after {
    left: inherit;
    right: 0;
    top: 44px;
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

.ourWorkBox2 .left, .ourWorkBox2 .right {
  width: 34%;
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
.ourWorkBox2 .right {
  width: 66%;
  padding: 60px 0 40px; }
  .ourWorkBox2 .right .grayBox {
    float: left; }
  .ourWorkBox2 .right .grayBox:nth-child(2) {
    float: right; }
.ourWorkBox2 .left {
  padding: 54px 0 90px 0;
  min-height: 495px;
  position: relative; }
  .ourWorkBox2 .left > h2 {
    font-family: "aleoregular";
    font-size: 32px;
    color: #000007;
    margin-bottom: 6px; }
  .ourWorkBox2 .left h3 {
    font-family: "MyriadProRegular";
    font-size: 21px;
    color: #000007;
    margin-bottom: 12px; }
  .ourWorkBox2 .left p {
    font-family: "aleoregular";
    font-size: 24px;
    color: #5b5b5b; }

.ourWorkBox3 .left, .ourWorkBox3 .right {
  width: 34%;
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
.ourWorkBox3 .left {
  width: 66%;
  padding: 60px 0 40px; }
  .ourWorkBox3 .left .grayBox {
    float: left; }
  .ourWorkBox3 .left .grayBox:nth-child(2) {
    float: right; }
.ourWorkBox3 .right {
  padding: 54px 0 90px 25px;
  min-height: 495px;
  position: relative; }
  .ourWorkBox3 .right > h2 {
    font-family: "aleoregular";
    font-size: 32px;
    color: #000007;
    margin-bottom: 6px; }
  .ourWorkBox3 .right h3 {
    font-family: "MyriadProRegular";
    font-size: 21px;
    color: #000007;
    margin-bottom: 12px; }
  .ourWorkBox3 .right p {
    font-family: "aleoregular";
    font-size: 24px;
    color: #5b5b5b; }
.ourWorkBox3 .insideBottom {
  position: absolute;
  left: 26px; }

/*# sourceMappingURL=style.css.map */
